
/* Your CSS Code here. */
header{
	display:flex;
justify-content: space-around;
	align-items: center ;
background-color: beige;
}

p{
	background-color:lightblue;
}

#section{
	background-color:lightseagreen;
}

section{
	margin: 10px 0;
}

footer{
	text-align:center;
margin:30px 0;
background-color:lightgray
}